<section class="hero">
  <div class="hero__media" aria-hidden="true">
    <img class="hero__image hero__image--current" [class.is-visible]="!transitioning" [src]="currentImage.src" [alt]="currentImage.alt">
    <img class="hero__image hero__image--next" [class.is-visible]="transitioning" [src]="nextImage.src" [alt]="nextImage.alt" (transitionend)="onIncomingImageTransitionEnd($event)">
  </div>
  <div class="hero__overlay" aria-hidden="true"></div>
  <div class="container hero__content">
    <span class="hero__tag">Desde 1989</span>
    <h1 class="hero__title">Líderes en la fabricación y venta de <span>productos ortopédicos</span></h1>
    <p class="hero__sub">Calidad, experiencia y compromiso con su bienestar.</p>
    <div class="hero__actions">
      <a href="https://api.whatsapp.com/send?phone=+50662497452&text=Me+gustar%C3%ADa+m%C3%A1s+informaci%C3%B3n" class="btn btn-primary">Contáctenos</a>
    </div>
  </div>
  <div class="hero__wave">
    <svg viewBox="0 0 1440 80" preserveAspectRatio="none"><path d="M0,40 C360,80 1080,0 1440,40 L1440,80 L0,80 Z" fill="#fff"/></svg>
  </div>
</section>
